* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #faf3f3;
}

/* navbar  */
.navbar {
  background-color: white;
  color: #e1e5ea;
  padding-left: 30px;
}

.logo{
  height: 50px;
  width: 120px;
}